.navList {
    display: flex;
    gap: 32px;
    margin: 0px;
    padding: 0px;
}

.navLink {
    text-decoration: none;
    color: black;
}

/* .navLink:hover {
    color: #d80000;
} */

.navLinkIsActive {
    color: #D84343;
}

.navListItem {
    display: flex;
    text-align: center;
}